<h1>Groups#show</h1>
<ul>
<% @group.users.each do |user| %>
<li><%= link_to user.name,user %></li>
<% end %>
</ul>
<ul><li>content</li>
<% @contents.each do |content| %>
<li><%= content.content %></li>
<% end %>
</ul>