<form class="form-flex" action="<%= microposts_url %>">
    <div class="input-group col-sm-3">
        <input class="form-control" type="text" name="q" value="" />
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">検索</button>
        </span>
    </div>
    <%= will_paginate %>
</form>



<ul>
    <% @microposts.each do |micropost| %>
        <li class="micropost">
            <%= render micropost %>
        </li>
        <% end %>
</ul>

<div class="row" style="padding: 0 20%;">
    <%= will_paginate %>
</div>